/.buildpath
/.project
/.sass-cache/1f5f2060c7226c10fb64981ff05660d2b92b2eff/*.scssc
/.settings/.jsdtscope
/.settings/*.prefs
/.settings/*.container
/.settings/*.name
/.sass-cache/a8d256043320143e738d43a42c986f4bf2db304f/*.scssc
